button {
    background-color: #0076C6;
    border: none;
    color: white;
    cursor: pointer;
    font-size:14px;
    margin-left: 10px;
    height: 50px;
    padding: 10px 20px;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

button:hover {
    background-color: #0076F6;
    box-shadow: 0 1px 1px #888;
}

button:focus {
    outline: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

textarea {
    background-color: #F9F9F9;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 100px;
    padding: 10px;
    width: 100%;
}

body {
    display: flex;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    padding-top: 40px;
}

.container {
    margin: 20px;
    width: 600px;
}

p {
    font-weight: bold;
    margin-top: 0;
}

.disabled {
    background-color: #888;
    color: #BBB;
}

.disabled:hover {
    background-color: #888;
    box-shadow: none;
    color: #BBB;
    cursor: default;
}

.button-container {
    display: flex;
    padding: 20px 0;
    width: 100%;
}

.button-container>button {
    height: 50px;
    font-weight: bold;
    font-size: 16px;
}

.button-container>div {
    margin-top: -15px;
}

.fill-auto {
    flex: 1 1 auto;
}

li {
    padding: 0 0 20px 0;
}

h2 {
    margin: 10px 0;
}

select {
    margin-right: 10px;
    padding: 10px;
    width: 102px;
}

.bar {
    background-color: black;
    color: white;
    display: flex;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    width: 100%;
}

.button-container>div>p {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 400;
}

.bar>img {
    margin: 0 10px;
    height: 45px;
    padding: 5px;
}

.upload-button {
    padding-top: 35px;
}

input[type="file" i] {
    color: #bbb;
    width: 180px;
}

.link {
    color: #0076C6;
    text-decoration: none;
    cursor: pointer;
    width: auto;
    margin: 10px 0;
    transition: all .1s ease-in-out;
}

.link:hover {
    color: red;
}

h4 {
    font-size: 20px;
    margin: 20px 0;
}

.btn-small {
    margin: 0 0 0 3px;
    padding: 0;
    width: 80px;
    height: 30px;
    border-radius: 3px;
}

.course-container {
    display: flex;
}

.small-btn-container {
    display: flex;
}

.red {
  background-color: #ff4528;
}

.red:hover {
  background-color: #ff3518
}

.green {
  background-color: #41B336;
}

.green:hover {
  background-color: #41C336;
}

input {
  padding-left: 10px;
  font-size: 16px;
}

.disabled {
  background-color: #666;
}
